# Fichiers de configuration locaux
.env

# Go binary files
*.exe
*.test
*.out

# Go build artifacts
bin/
build/
dist/
*.a
*.so
*.dSYM

# IDE files
*.idea/
*.vscode/
*.swp

# Autres fichiers générés
*.log
*.tmp
*.cache
