# Fichiers binaires compilés
*.exe
*.dll
*.so
*.dylib

# Dossiers de compilation
/bin/
/obj/

# Fichiers générés lors de la compilation Go
*.out

# Les modules Go et fichiers de dépendances
/vendor/
/Gopkg.lock
/Gopkg.toml
/go.sum
/go.mod

# Cache de compilation Go
# En général, pas nécessaire de suivre ces fichiers
*.test
*.prof

# Dossiers spécifiques à l'éditeur/IDE
/.idea/
/.vscode/
/*.iml

# Fichiers d'environnement sensibles
.env
*.env

# Autres fichiers temporaires ou logs
*.log
*.tmp
*.swp

# Cache spécifique à Go Modules
/pkg/mod/
/go-build/
